.fullsize-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;

  .recipe-article {

    &__content {
      background-color: $mainColor;
      height: 100%;
    }

    &__header {
      height: 38vh;
      background-size: cover;
      padding-left: 15%;
      position: relative;
      background-repeat: no-repeat;
      background-position-y: -180px;
      animation: scroll-article linear 60s infinite;

      @media (max-width: 1800px) {
        height: 40vh;
      }

      @media (max-width: 1440px) {
        height: rem(400);
        animation: none;
        -ms-background-position-y: unset;
        background-position-y: unset;
      }

      @media (max-width: 1400px) {
        height: rem(330);
      }

      @media (max-width: 1280px) {
        height: rem(450);
      }

      @media (max-width: 1550px) {
        padding-left: rem(165);
      }

      @media (max-width: 1280px) {
        padding-left: rem(52);
      }

      @media (max-width: 768px) {
        background-position: center;
        height: rem(326);
        padding-left: rem(32);
      }

      .tag {
        border: 1px solid $secondaryColor;
        padding: rem(10) rem(20);
        border-radius: 80px;
        background-color: rgb(254, 157, 43, 0.2);
        display: inline-flex;
        align-items: center;
        color: $secondaryColor;
        font-size: rem(16);

        svg {
          margin-right: rem(15);
        }

        @media (max-width: 768px) {
          display: none;
        }
      }

      .title {
        font-size: rem(64);
        line-height: rem(70);
        width: rem(725);
        margin-top: rem(17);

        @media (max-width: 768px) {
          font-size: rem(26);
          line-height: rem(26);
          max-width: rem(325);
        }
      }
    }

    &__text-block {
      position: absolute;
      bottom: rem(55);

      @media (max-width: 768px) {
        bottom: rem(19);
      }
    }

    &__text {
      height: 48vh;
      padding-left: 15%;
      position: relative;

      @media (max-width: 1550px) {
        padding-left: rem(165);
      }

      @media (max-width: 1280px) {
        padding-left: rem(52);
      }

      @media (max-width: 768px) {
        height: rem(480);
        padding-left: rem(32);
      }

      .article-content {
        height: rem(450);
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-color: #a3012d #e2d1d6; /* «цвет ползунка» «цвет полосы скроллбара» */
        scrollbar-width: auto; /* толщина */
        display: flex;
        width: 100%;
        padding-top: rem(50);
        box-shadow:  inset 0 0 8px 10px white;
        padding-right: rem(32);


        /* Стрелки */

        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100px;
          position: absolute;
          background: linear-gradient(180deg, #FFFFFF 19.12%, rgba(255, 255, 255, 0) 83.82%);
          top: 0;
          mix-blend-mode: normal;

          @media (max-width: 768px) {
            height: 30px;
          }
        }

        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 100px;
          position: absolute;
          background: linear-gradient(180deg, rgba(255, 255, 255, 0) 57.31%, #FFFFFF 71.64%);
          bottom: 8vh;
          mix-blend-mode: normal;

          @media (max-width: 1920px) {
            display: none;
          }

          @media (max-width: 768px) {
            bottom: rem(155);
            height: 30px;
          }

          @media (max-width: 568px) {
            display: none;
          }
        }

        @media (max-width: 1800px) {
          height: rem(400);
        }

        @media (max-width: 1500px) {
          height: 70%;
        }

        @media (max-width: 990px) {
          display: flex;
        }

        @media (max-width: 768px) {
          padding-top: rem(25);
        }

        &__introduction {
          color: #34000D;
          margin-bottom: rem(60);

          @media (max-width: 768px) {
            margin-bottom: rem(30);
          }

          p {
            font-size: rem(18);
            line-height: rem(24);
            &:first-child {
              margin-bottom: rem(20);
            }

            &:last-child {
              margin-top: rem(20);
            }

            @media (max-width: 768px) {
              font-size: rem(12);
              line-height: rem(18);
            }
          }
        }

        &__text {
          width: rem(920);

          @media (max-width: 1280px) {
            width: rem(660);
          }

          @media (max-width: 990px) {
            width: 70%;
          }

          @media (max-width: 768px) {
            width: 100%;
          }
        }

        &__illustrations {

          @media (max-width: 1280px) {
            position: relative;
            right: rem(22);
          }

          @media (max-width: 990px) {
            width: 30%;
          }

          @media (max-width: 768px) {
            display: none;
          }

          svg {
            display: block;
            margin-left: rem(20);
            animation: do-levitation 1.4s alternate ease-in-out infinite;
          }
        }

        &__row {
          margin-bottom: rem(54);

          @media (max-width: 768px) {
            margin-bottom: rem(36);
          }
          .row-content {

            &__title {
              font-size: rem(36);
              line-height: rem(40);
              color: $secondRedColor;

              @media (max-width: 768px) {
                font-size: rem(18);
                line-height: rem(20);
              }
            }

            &__text {
              margin-top: rem(30);
              margin-left: rem(95);
              font-size: rem(18);
              line-height: rem(24);
              color: #34000D;

              @media (max-width: 1280px) {
                margin-left: rem(45);
              }

              @media (max-width: 768px) {
                margin-left: 0;
                margin-top: rem(15);
                font-size: rem(12);
                line-height: rem(18);
              }
            }

            &__actions {
              margin-top: rem(30);
              margin-left: rem(95);

              @media (max-width: 768px) {
                margin-left: 0;
              }

              .action {
                &:not(:last-child) {
                  margin-bottom: rem(30);
                }

                &__title {
                  color: #34000D;
                  display: flex;
                  align-items: center;
                  margin-bottom: rem(12);

                  font-size: rem(14);
                  line-height: rem(20);

                  svg {
                    margin-right: rem(16);
                  }
                }

                &__text {
                  color: #34000D;
                  font-family: $fontFamilyMontserrat;
                  font-weight: 400;
                  font-size: rem(18);
                  line-height: rem(24);

                  @media (max-width: 768px) {
                    font-size: rem(12);
                    line-height: rem(18);
                  }
                }
              }
            }
          }
        }
      }

    }
  }
}

#closeFullSizeModal {
  margin-top: rem(100);

  @media (max-width: 1440px) {
    margin-top: rem(70);
  }

  @media (max-width: 768px) {
    font-size: rem(14);
    line-height: rem(14);
    width: rem(118);
    height: rem(25);
    padding-top: 5px;
  }

  @media (max-width: 568px) {
    margin-top: rem(35);
  }
}

.mobile-icons {
  display: none;

  @media (max-width: 768px) {
    display: flex;
  }
}
