.close-modal {
  position: absolute;
  width: rem(49);
  height: rem(49);
  top: rem(12);
  right: rem(20);
  font-size: rem(50);
  color: #333;
  cursor: pointer;
  background: none;
  border-radius: 50px;
  border: 2px solid $mainColor;

  &::after {
    content: '✕';
    width: 45px;
    height: 45px;
    display: block;
    font-size: 2.4rem;
    color: $mainColor;
  }
}

.modal-reason {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: rem(825);

  padding: rem(62);
  z-index: 10;
  background: linear-gradient(180deg, #CA1646 0%, #6B0921 100%);
  box-shadow: 2px -1px 10px rgba(73, 0, 16, 0.2);
  border-radius: 25px;

  &__slider {

  }

  &__slide {

    .slide {

      &__top {
        display: flex;
        margin-bottom: rem(50);
      }

      &__image {

      }

      &__title {
        width: rem(422);
        font-size: rem(48);
        line-height: rem(48);
        margin-top: rem(35);
        margin-left: rem(52);
      }

      &__text {

      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
