//анимация первого фона
@keyframes scroll {
  from {
    background-position: center center;
  }
  to {
    background-position: 30% 0;
  }
}



@keyframes do-levitation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0.5em);
  }
}

