::-webkit-scrollbar-track {
    background: transparent;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0.7em;
    background: transparent;
}
body::-webkit-scrollbar-thumb {
    background: $redColor;
    border-radius: 40px;
    transition: all 0.3s;
}
html,
body {
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: $redColor $secondRedColor;
    overflow: overlay;
}
