::-webkit-scrollbar-track {
    background: transparent;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0.7em;
    background: transparent;
}
body::-webkit-scrollbar-thumb {
    background: #a3012d;
    border-radius: 40px;
    transition: all 0.3s;
}
html,
body {
    scrollbar-color: #e2d1d6 #e2d1d6; /* «цвет ползунка» «цвет полосы скроллбара» */
    scrollbar-width: auto; /* толщина */
    overflow: overlay;
}
