.faq-block {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__title {
        padding: rem(120) 0 rem(60) 0;
        color: $mainColor;
    }
    &__accordion-item {
        background: linear-gradient(177.99deg, #ca1646 1.69%, #6b0921 195.86%);
        box-shadow: 2px -1px 10px 7px rgba(73, 0, 16, 0.2);
        border-radius: rem(30);
        padding: rem(30) rem(35);
        margin-bottom: rem(40);
    }

    &__accordion-title {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        p {
            font-weight: bold;
            font-weight: normal;
            font-size: rem(28);
            color: $mainColor;
            margin-right: 10%;
        }

        &::after {
            content: "";
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M35 17.5L-9.53674e-07 17.5' stroke='white' stroke-width='10'/%3e%3cpath d='M17.5 35L17.5 -9.53674e-07' stroke='white' stroke-width='10'/%3e%3c/svg%3e ");
        }

        .is-open &::after {
            content: "";
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='35' height='11' viewBox='0 0 35 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M35 5.5L-9.53674e-07 5.5' stroke='white' stroke-width='10'/%3e%3c/svg%3e ");
        }
        &::after,
        .is-open &::after {
            width: rem(55);
            height: rem(55);
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__accordion-body {
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease-in-out;
    }

    &__accordion-content {
        p {
            padding-top: rem(50);
            color: $mainColor;
        }
        a {
            margin-top: rem(50);
            display: block;
            width: fit-content;
            color: $mainColor;
            font-size: 20px;
            border: 2px solid $mainColor;
            border-radius: rem(80);
            text-align: left;
            text-decoration: none;
            padding: rem(10) rem(25);
        }
    }
}
