.footer {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: rem(95) 0 rem(55) 0;
    line-height: rem(15);
    font-family: $fontFamilyMontserrat;
    &__copyright {
        color: $mainColor;
        font-size: rem(12);
        margin-bottom: rem(10);
        @media (max-width: 414px) {
            font-size: rem(8);
        }
    }
    &__info {
        color: #868080;
        font-size: rem(10);
        @media (max-width: 414px) {
            font-size: rem(8);
            line-height: 10px;
        }
    }
    @media (max-width: 768px) {
        width: 100%;
    }
    @media (max-width: 568px) {
        padding: rem(35) 0 rem(15) 0;
    }
}
